.blueText {
    color: #0C19A4;
}

table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #0C19A4;
    border-style: solid;
    color: #000000;
    font-size: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius:25px;
}

    table.customTable td, table.customTable th {
        border-width: 2px;
        border-color: #0C19A4;
        border-style: solid;
        padding: 5px;           
    }

    table.customTable thead {
        background-color: #0C19A4;
        color:#FFFFFF;
        font-size: 20px;

    }
    
    table.customTable td {
        max-width:125px;
        min-width:125px;
        width:125px;    
    }

 img.icon {
    width: 100%;
}

img.iconpunten {
    width: 100px;
}